

body{
    display: flex;
    background-image: url('images/background.png');
    background-size: cover;
}
img{
    background-size: contain;
    background-position: center;
}

div.quadrado{
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-template-areas: 
    'time tempo'
    'life vida'
    'enemies inimigos';
}

.quadrado {
    width: 200px;
    height: 200px;
    background-color: black;
    box-shadow:
  0 0 5px white,
  0 0 5px white,
  0 0 5px white,
  0 0 5px white,
  0 0 5px white,
  0 0 5px white,
  0 0 10px white;
    margin: 0;
    opacity: 70%; 
  }

#time{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: flex;
    grid-area: time;

    background-image: url('images/clock.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#life{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: flex;
    grid-area: life;

    background-image: url('images/nave.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#enemies{
    margin-top: 15px;
    margin-left: 22px;
    margin-right: 8px;
    margin-bottom: 15px;
    display: flex;
    grid-area: enemies;

    align-items: center;
    justify-content: center;
    background-image: url('images/alien.png');
    background-size: contain;
    background-repeat: no-repeat;

}

#tempo{
    display: flex;
    font-size: 15px;
    color: #ffffff;

    align-items: center;
    justify-content: center;
    
} 

#vida{
    display: flex;
    grid-area: vida;

    align-items: center;
    justify-content: center;
    color: #ffffff;
}

#inimigos{
    display: flex;
    grid-area: inimigos;

    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.nave{
    background-image: url('images/nave.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 160px;
    height: 160px;
    position: absolute;
    top: 520px;
    left: 625px;
}

.alien1, .alien2, .alien3 {
    background-image: url('images/alien.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 160px;
    height: 160px;
    position: absolute; /* MUDOU de relative para absolute */
    top: -160px;
}
.alien1 { left: 450px; }
.alien2 { left: 650px; }
.alien3 { left: 850px; }

#tela-pause {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black; 
    opacity: 50%;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: white;
    font-weight: bold;
}

.missil {
    width: 40px;
    height: 80px;
    background-image: url('images/missil.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 5000;
}
