*{
    margin: 0; 
}

html, body{
    height: 100%;
}

body {
    display: grid;

    grid-template-columns: 10vw 1fr 10vw;
    grid-template-rows: 10vh 1fr 7vh;

    grid-template-areas:
     'cabecario1 cabecario2 cabecario3'
     'corinthians corinthians corinthians'
     'rodape rodape rodape';
}

button{
background-color: #000000;
color: #ffffff;
font-size: 50px;
border: none;
cursor: pointer;
}

.cabecario1{
display: flex;
grid-area: cabecario1;
background-color: #000000;
justify-content: left;
font-size: 50px;
color: #ffffff;
}

.cabecario2{
    display: flex;
    grid-area: cabecario2;
    background-color: #000000;
    justify-content:center;
    align-items: center;
    font-size: 50px;
    color: #ffffff;
}

.cabecario3{
    display: flex;
    grid-area: cabecario3;
    background-color: #000000;
}

#menu{
    display: none;  
    grid-area: corinthians;
    background-color: #000000;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    height: 10px;
    width: 125px;
}

#corinthians{
    display: flex;
    grid-area: corinthians;
    justify-content: center;
    align-items: center;
    background-image: url('corinthians.jpeg');
    object-fit: cover;
}

#rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: rodape;
    background-color: #000000;
    color: #ffffff;
}

a.menu{
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
}

a.menu:hover{
    opacity: 50%;
    border: solid;
    border-radius: 5px;
    border-color: red;
}

audio{
    position: absolute;
    top: 400px;
    left: 500px;
    opacity: 50%;
    width: px;
}

.modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
}

.modal-content {
    background-color: #111;
    color: #fff;
    width: 300px;
    padding: 20px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 10px;
}

#startButton {
    background-color: darkred; 
    color: white;             
    font-size: 18px;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

#startButton:hover {
    opacity: 80%; /* Cor ao passar o mouse */
}