*{
    margin: 0;
}

html, body{
    height: 100%;
}

body {
    display: flex;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-template-areas:
     'cabecario1 cabecario2 cabecario3'
     'menu corinthians1 corinthians2'
     'rodape1 rodape2 rodape3';
}

div.cabecario1{
    height: 100px;
    background-color: #000000;
}

div.cabecario2{
    height: 100px;
    background-color: #000000;
    font-size: 60px;
    align-items: center;
    color: white
}

div.cabecario3{
    height: 100px;
    background-color: #000000;
}

#menu{
    grid-area: menu;
    background-color: red;
}

#corinthians1{
    grid-area: corinthians1;
    background-color: red;
}

#corinthians2{
    grid-area: corinthians2;
    background-color: red;
}

#rodape1{
    grid-area: rodape1;
    background-color: #000000;
}

#rodape2{
    grid-area: rodape2;
    background-color: #000000;
}

#rodape3{
    grid-area: rodape3;
    background-color: #000000;
}
